.container{width:1000px;margin:0 auto;}

    .top_h{background:linear-gradient(#FDFBFD,#EDEBEE);border-bottom:1px solid #D7D6D7;
        .container{
            box-sizing:border-box;height:40px;padding-top:5px;
            .top_l{
                li{
                    float:left;font-size:14px;padding:9px 21px 0 21px;height:26px;border-right:1px solid #ccc;
                    &:nth-child(1){
                        background: #fff;border-top:1px solid #ccc;border-left:1px solid #ccc;
                    }
                    a{
                        color:#4D3333;font-weight:bold;
                    }
                    &:nth-child(1) a{
                        color: #f60;
                    }
                    &:nth-child(2) a:hover{
                        color: #f60;
                    }
                    &:nth-child(3) a:hover{
                        color: #f60;
                    }
                }
            }
            .top_r{
                overflow:hidden;
                li{
                    float:left;font-size:14px;font-weight:none;
                    &:first-child>span{padding-right:10px;}
                    a{
                        padding:9px 0 12px 0;height:14px;display:inline-block;text-align:center;
                        span{

                            border-right:1px solid #ccc;display:inline-block;padding:0 7px;
                        }
                        i{width:14px;display:inline-block;height: 14px;}
                    }
                }
            }
        }
    }
    .title{border-bottom:1px solid #D7D6D7;
        .container{
            height:107px;
            h1{text-indent:-10000px;}
        }
    }
    .register{background: #ECECEC;padding-top:20px;padding-bottom:41px;
        .container{
            .qieh{overflow:hidden;
                li{
                    height: 39px;float:left;width:242px;background: #F8F8F8;border:1px solid #ccc;
                    &:nth-child(1){margin-left:177px;text-align:center;line-height: 39px;
                        color:#f90;
                    }
                    &:nth-child(2){margin-left:10px;text-align:center;line-height: 39px;
                    }
                }
            }
            .zc{
                height:532px;background:#fff;border:1px solid #ccc;
               
            }
            .dl{
                height:432px;background:#fff;border:1px solid #ccc;display:none;
            }
        }
    }
    .footer{
        .container{
            height:186px;
             ul{text-align:center;margin-top:30px;margin-bottom:10px;
                li{display:inline-block;
                    a{color:black;font-size:14px;}
                }
            }
            .tfc_copyright{text-align:center;
                span{margin-bottom:10px;font-size:14px;}
            }
            .license{text-align:center;height:47px;img{
                height:47px;
                }
            }
            .d_footer{font-size:14px;text-align:center;}
        }
    }
