.container{width:1000px;margin:0 auto;}

    .top_h{background:linear-gradient(#FDFBFD,#EDEBEE);border-bottom:1px solid #D7D6D7;
        .container{
            box-sizing:border-box;height:40px;padding-top:5px;
            .top_l{
                li{
                    float:left;font-size:14px;padding:9px 21px 0 21px;height:26px;border-right:1px solid #ccc;
                    &:nth-child(1){
                        background: #fff;border-top:1px solid #ccc;border-left:1px solid #ccc;
                    }
                    a{
                        color:#4D3333;font-weight:bold;
                    }
                    &:nth-child(1) a{
                        color: #f60;
                    }
                    &:nth-child(2) a:hover{
                        color: #f60;
                    }
                    &:nth-child(3) a:hover{
                        color: #f60;
                    }
                }
            }
            .top_r{
                overflow:hidden;
                li{
                    float:left;font-size:14px;font-weight:none;
                    &:first-child>span{padding-right:10px;}
                    a{
                        padding:9px 0 12px 0;height:14px;display:inline-block;text-align:center;
                        span{

                            border-right:1px solid #ccc;display:inline-block;padding:0 7px;
                        }
                        i{width:14px;display:inline-block;height: 14px;}
                    }
                }
            }
        }
    }
    .title{border-bottom:1px solid #D7D6D7;
        .container{
            height:107px;
            h1{text-indent:-10000px;}
        }
    }
    .register{background: #ECECEC;padding-top:20px;padding-bottom:41px;
        .container{
            .qieh{overflow:hidden;
                li{
                    height: 39px;float:left;width:242px;background: #F8F8F8;border:1px solid #ccc;
                    &:nth-child(1){margin-left:177px;text-align:center;line-height: 39px;position:relative;background: #fff;
                        a{color:#F60;}
                        .icon-zhuce{
                            display:block;width:30px;height:30px;position:absolute;z-index:10000;left:76px;top:0px;color:#F60;
                        
                        }
                    }
                    &:nth-child(2){margin-left:10px;text-align:center;line-height: 39px;position:relative;
                         .icon-denglu{
                            display:block;width:30px;height:30px;position:absolute;z-index:10000;left:76px;top:0px;
                        
                        }
                    }
                }
            }
            .zc{
                height:532px;background:#fff;border:1px solid #ccc;padding-top:40px;
                .zc_l{
                    width:440px;float:left;text-align:right;
                    .typeahead{
                            display:inline-block;width:275px;height:33px;border:1px solid #ccc;
                        }
                    li{margin-bottom:28px;font-size:14px;font-weight:none;position:relative;
                        .p1{
                            position:absolute;top:35px;left:162px;width:190px;height:22px;background: #FFF0C0;border-radius:3px;font-size:12px;color:#FF0000;text-align:center;line-height: 22px;display:none;
                            i{
                                display:inline-block;width:16px;height: 16px;position:absolute;top:0px;left:2px;
                            }
                        }
                        .p10{
                            position:absolute;top:35px;left:162px;width:190px;height:22px;background: #FFF0C0;border-radius:3px;font-size:12px;color:#FF0000;line-height: 22px;text-align:left;display:none;
                        }
                        .d2{
                            position:absolute;top:35px;left:162px;display:none;
                        }
                        .psw{
                            
                        }
                        .psw2{
                            display:none;
                        }
                        .psw3{
                           display:none;
                        }
                        .strength{
                           height:22px;float:left;position:absolute;left:162px;top:35px;
                            .str{
                                width:55px;margin:1px;text-align:center;display:none;
                                &:nth-child(1){
                                    background: #fb9e10;
                                }
                                &:nth-child(2){
                                    background: #ccc;
                                }
                                &:nth-child(3){
                                    background: #ccc;
                                }
                            }
                        }
                    }
                     li:nth-child(5){
                        input{width:126px;
                            
                        }
                        span{display:inline-block;border:1px solid #ccc;height:30px;vertical-align:top;line-height:33px;width:110px;border-radius:5px;text-align:center;background:rgb(255,240,192);color:#f60;margin-right:27px;}

                    }
                    li:nth-child(6){
                        text-align:left;
                        .xieyi{margin-left:167px;}
                        .agreement-text{
                            display:inline-block;margin-bottom:10px;
                        }
                        .submit{
                            display:inline-block;width:227px;height:36px;background: #FF5A00;color:white;margin-bottom:28px;margin-left:167px;
                        }
                        .consult{font-size:12px;margin-bottom:5px;padding-left:167px;text-align:left;}
                    }
                    .fs{text-align:center;
                        li{;margin-bottom:0px;height:24px;}
                        a{display:inline-block;width:24px;height:24px;background: #000;margin-right:10px;}
                        li:nth-child(1){
                            a{
                           
                        &:nth-child(1){
                            margin-left:167px;
                        }
                        }
                     }
                    }
                }
                
               
            }
            .dl{
                height:432px;background:#fff;border:1px solid #ccc;display:none;
            }
        }
    }
    .footer{
        .container{
            height:186px;
             ul{text-align:center;margin-top:30px;margin-bottom:10px;
                li{display:inline-block;
                    a{color:black;font-size:14px;}
                }
            }
            .tfc_copyright{text-align:center;
                span{margin-bottom:10px;font-size:14px;}
            }
            .license{text-align:center;height:47px;img{
                height:47px;
                }
            }
            .d_footer{font-size:14px;text-align:center;}
        }
    }
