.container { width: 1000px; margin: 0 auto; }

.top_h { background: linear-gradient(#FDFBFD, #EDEBEE); border-bottom: 1px solid #D7D6D7; }

.top_h .container { box-sizing: border-box; height: 40px; padding-top: 5px; }

.top_h .container .top_l li { float: left; font-size: 14px; padding: 9px 21px 0 21px; height: 26px; border-right: 1px solid #ccc; }

.top_h .container .top_l li:nth-child(1) { background: #fff; border-top: 1px solid #ccc; border-left: 1px solid #ccc; }

.top_h .container .top_l li a { color: #4D3333; font-weight: bold; }

.top_h .container .top_l li:nth-child(1) a { color: #f60; }

.top_h .container .top_l li:nth-child(2) a:hover { color: #f60; }

.top_h .container .top_l li:nth-child(3) a:hover { color: #f60; }

.top_h .container .top_r { overflow: hidden; }

.top_h .container .top_r li { float: left; font-size: 14px; font-weight: none; }

.top_h .container .top_r li:first-child > span { padding-right: 10px; }

.top_h .container .top_r li a { padding: 9px 0 12px 0; height: 14px; display: inline-block; text-align: center; }

.top_h .container .top_r li a span { border-right: 1px solid #ccc; display: inline-block; padding: 0 7px; }

.top_h .container .top_r li a i { width: 14px; display: inline-block; height: 14px; }

.title { border-bottom: 1px solid #D7D6D7; }

.title .container { height: 107px; }

.title .container h1 { text-indent: -10000px; }

.register { background: #ECECEC; padding-top: 20px; padding-bottom: 41px; }

.register .container .qieh { overflow: hidden; }

.register .container .qieh li { height: 39px; float: left; width: 242px; background: #F8F8F8; border: 1px solid #ccc; }

.register .container .qieh li:nth-child(1) { margin-left: 177px; text-align: center; line-height: 39px; position: relative; background: #fff; }

.register .container .qieh li:nth-child(1) a { color: #F60; }

.register .container .qieh li:nth-child(1) .icon-zhuce { display: block; width: 30px; height: 30px; position: absolute; z-index: 10000; left: 76px; top: 0px; color: #F60; }

.register .container .qieh li:nth-child(2) { margin-left: 10px; text-align: center; line-height: 39px; position: relative; }

.register .container .qieh li:nth-child(2) .icon-denglu { display: block; width: 30px; height: 30px; position: absolute; z-index: 10000; left: 76px; top: 0px; }

.register .container .zc { height: 532px; background: #fff; border: 1px solid #ccc; padding-top: 40px; }

.register .container .zc .zc_l { width: 440px; float: left; text-align: right; }

.register .container .zc .zc_l .typeahead { display: inline-block; width: 275px; height: 33px; border: 1px solid #ccc; }

.register .container .zc .zc_l li { margin-bottom: 28px; font-size: 14px; font-weight: none; position: relative; }

.register .container .zc .zc_l li .p1 { position: absolute; top: 35px; left: 162px; width: 190px; height: 22px; background: #FFF0C0; border-radius: 3px; font-size: 12px; color: #FF0000; text-align: center; line-height: 22px; display: none; }

.register .container .zc .zc_l li .p1 i { display: inline-block; width: 16px; height: 16px; position: absolute; top: 0px; left: 2px; }

.register .container .zc .zc_l li .p10 { position: absolute; top: 35px; left: 162px; width: 190px; height: 22px; background: #FFF0C0; border-radius: 3px; font-size: 12px; color: #FF0000; line-height: 22px; text-align: left; display: none; }

.register .container .zc .zc_l li .d2 { position: absolute; top: 35px; left: 162px; display: none; }

.register .container .zc .zc_l li .psw2 { display: none; }

.register .container .zc .zc_l li .psw3 { display: none; }

.register .container .zc .zc_l li .strength { height: 22px; float: left; position: absolute; left: 162px; top: 35px; }

.register .container .zc .zc_l li .strength .str { width: 55px; margin: 1px; text-align: center; display: none; }

.register .container .zc .zc_l li .strength .str:nth-child(1) { background: #fb9e10; }

.register .container .zc .zc_l li .strength .str:nth-child(2) { background: #ccc; }

.register .container .zc .zc_l li .strength .str:nth-child(3) { background: #ccc; }

.register .container .zc .zc_l li:nth-child(5) input { width: 126px; }

.register .container .zc .zc_l li:nth-child(5) span { display: inline-block; border: 1px solid #ccc; height: 30px; vertical-align: top; line-height: 33px; width: 110px; border-radius: 5px; text-align: center; background: #fff0c0; color: #f60; margin-right: 27px; }

.register .container .zc .zc_l li:nth-child(6) { text-align: left; }

.register .container .zc .zc_l li:nth-child(6) .xieyi { margin-left: 167px; }

.register .container .zc .zc_l li:nth-child(6) .agreement-text { display: inline-block; margin-bottom: 10px; }

.register .container .zc .zc_l li:nth-child(6) .submit { display: inline-block; width: 227px; height: 36px; background: #FF5A00; color: white; margin-bottom: 28px; margin-left: 167px; }

.register .container .zc .zc_l li:nth-child(6) .consult { font-size: 12px; margin-bottom: 5px; padding-left: 167px; text-align: left; }

.register .container .zc .zc_l .fs { text-align: center; }

.register .container .zc .zc_l .fs li { margin-bottom: 0px; height: 24px; }

.register .container .zc .zc_l .fs a { display: inline-block; width: 24px; height: 24px; background: #000; margin-right: 10px; }

.register .container .zc .zc_l .fs li:nth-child(1) a:nth-child(1) { margin-left: 167px; }

.register .container .dl { height: 432px; background: #fff; border: 1px solid #ccc; display: none; }

.footer .container { height: 186px; }

.footer .container ul { text-align: center; margin-top: 30px; margin-bottom: 10px; }

.footer .container ul li { display: inline-block; }

.footer .container ul li a { color: black; font-size: 14px; }

.footer .container .tfc_copyright { text-align: center; }

.footer .container .tfc_copyright span { margin-bottom: 10px; font-size: 14px; }

.footer .container .license { text-align: center; height: 47px; }

.footer .container .license img { height: 47px; }

.footer .container .d_footer { font-size: 14px; text-align: center; }
